.grid {
  background: darkred;
  background-color:cadetblue;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
}

.camel {
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 400px;
  padding: 50px;
  background-color: cadetblue;
}

.camel a {
  padding: 50px;
  color: rgb(94,182,255);
}

.chameleon {
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 400px;
  padding: 50px;
  background-color: cadetblue;
}

.chameleon a {
  padding: 50px;
  color: rgb(94,182,255);
}

.cicada {
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 400px;
  padding: 50px;
  background-color: cadetblue;
}

.cicada a {
  padding: 50px;
}

.panda {
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 400px;
  padding: 50px;
  background-color: cadetblue;
}

.panda a {
  padding: 50px;
}

.pigeon {
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 400px;
  padding: 50px;
  background-color: cadetblue;
}

.pigeon a {
  padding: 50px;
}

.teddy {
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 400px;
  padding: 50px;
  background-color: cadetblue;
}

.teddy a {
  padding: 50px;
}

.sm {
  display: flex;
  justify-content: center;
}

.sm img {
  padding: 40px;
  margin-bottom: -30px;
}

h1 {
  text-align: center;
  color: white;
}